<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.smashupscorekeeper">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ChoosePlayer" android:label="@string/title_player_select" android:screenOrientation="portrait"></activity>
        <activity android:name=".LeaderBoard" android:label="@string/title_leader_board" android:screenOrientation="portrait" />
        <activity android:name=".PlayerInfoScreen" android:label="@string/title_player_info_screen" android:screenOrientation="portrait" />
        <activity android:name=".PlayerInfoSelect" android:label="@string/title_player_info_selector"  android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity" android:label="@string/app_name" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScoreBoardTwoPlayer"
            android:label="@string/title_score_board"
            android:screenOrientation="portrait" />

        <activity
            android:name=".PlayerSelect"
            android:label="@string/title_player_select"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".PlayerEditor"
            android:label="@string/title_player_editor"
            android:screenOrientation="portrait" />
    </application>

</manifest>